.logoContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 49px;

    position: absolute;
    width: 516px;
    height: 96px;
    left: 87px;
    top: 57px;

}

#logoSvg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    isolation: isolate;

    width: 160px;
    height: 96px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#logoTitle {
    width: 307px;
    height: 56px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 767;
    font-size: 50px;
    line-height: 61px;

    color: #E06A1A;
    font-variation-settings: 'slnt' 0;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.navContainer {

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 596px;
    height: 45px;
    right: 136px;
    top: 83px;

}

.navButton {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* Center the content horizontally */
    padding: 8px 16px;

    /* Remove the large gap */
    gap: 0;

    width: 157px;
    height: 45px;

    background: #F58220;
    border-radius: 8px;

    /* INFO */
    width: 125px;
    height: 29px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}