

.navButton:hover {
  background-color: #FFA93F;
  /* Change color on hover */
}

.navButton.active {
  background-color: #e46c03d1;
  /* Darker color for active state */
}

@media (min-width: 768px) {

  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 60px;
    background-color: #EEEEEE;
    width: 100%;
    position: fixed;
    z-index: 1000;
  }

  .logoContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 49px;

    /* Change from absolute to fixed */
    width: 516px;
    height: 96px;
    left: 20px;
    /* Adjust left position */
    top: 20px;
    /* Adjust top position */
    z-index: 1000;
    /* Add z-index to ensure it appears above other content */

  }

  #logoSvg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    isolation: isolate;

    width: 110px;
    height: 65px;
  }
    .navContainer{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 32px;
      width: 596px;
      height: 45px;
      right: 20px;
      top: 20px;
      z-index: 1000;
    }

    #logoTitle {
      width: 307px;
      height: 56px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 767;
      font-size: 47px;
      line-height: 61px;

      color: #F58220;
      font-variation-settings: 'slnt' 0;


      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
    }
    .navButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
      gap: 0;
      width: 157px;
      height: 45px;
      background: #F58220;
      border-radius: 8px;
      width: 125px;
      height: 29px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
      flex: none;
      order: 0;
      flex-grow: 0;
      transition: background-color 0.3s ease;
      /* Add transition for smooth color change */
    }
  }

  @media (max-width: 767px) {

    #header {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      padding: 1.5%;
      background-color: #EEEEEE;
      width: 100%;
      position: fixed;
      z-index: 1000;
    }

    .logoNav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-left: 7%;
      padding-right: 4%;
    }

    #dropButton img {
      height: 30px;
    }

    .logoContainer {

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

    }

    #logoSvg {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      isolation: isolate;
  
      width: auto;
      height: 26px;
    }

    .navContainer{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: auto;
      z-index: 1000;
    }
    .navButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 5px;
      padding-left: 7px;
      padding-right: 7px;
      width: auto;
      height: auto;
      background: #F58220;
      border-radius: 7px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      color: #FFFFFF;
      flex: none;
      order: 0;
      flex-grow: 0;
      transition: background-color 0.3s ease;
      /* Add transition for smooth color change */
    }

    #logoTitle {
      width: 20%;
      height: auto;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 367;
      font-size: 20px;
      line-height: 61px;

      color: #F58220;
      font-variation-settings: 'slnt' 0;


      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  }
