.container {
  display: flex;
  justify-content: space-between; 
  padding: 20px 50px; 
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.imageGallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainImageWrapper {
  margin-bottom: 20px;
  width: 550px;
}

.thumbnailWrapper {
  border: 2px solid transparent; 
  transition: border-color 0.3s ease, transform 0.3s ease;
}

.selectedThumbnail {
  border-color: #ff6700; 
  transform: scale(1.05); 
}

.thumbnailWrapper:hover {
  transform: scale(1.0001); 
} 

.thumbnailGallery {
  display: flex;
  gap: 10px;
  width: 550px;
}

.thumbnail {
  transition: transform 0.3s ease, cursor 0.3s ease; 
}

.thumbnail:hover {
  transform: scale(1.1); 
  cursor: pointer; 
}

.details {
  max-width: 55%;
  padding: 20px;
  background: linear-gradient(135deg, #ffffff, #f0f0f0);
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.details h1 {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}

.price {
  font-size: 22px;
  font-weight: 600;
  color: rgb(126, 125, 125);
  margin-bottom: 50px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.6; 
}

.description p {
  margin-bottom: 10px; 
}

.details {
  width: 750px;
}

.detailsList {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.detailsList li {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.buttons {
  display: flex;
  gap: 10px; 
}

.buyButton {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #ff6700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.buyButton:hover {
  background-color: #ff8c32;
  transform: scale(1.05);
}

.testDriveButton {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  color: #ff6700; 
  background-color: #fff; 
  border: 2px solid #ff6700; 
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.testDriveButton:hover {
  background-color: rgb(255, 126, 40);
  color: #fff;
  transform: scale(1.05);
}

.tabs {
  margin-top: 50px;
}

.tabList {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  transition: color 0.3s;
}

.tab.active {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

.tabPane {
  display: none;
}

.tabPane.active {
  display: block;
}

.paddingContainer {
  padding-top: 120px;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }
  
  .imageGallery {
    align-items: center;
    width: 100%;
  }

  .mainImageWrapper {
    width: 100%;
    margin-bottom: 10px;
  }

  .thumbnailGallery {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 10px; 
  }

  .thumbnail {
    width: 120px; 
    height: auto;
  }

  .details { 
    width: 350px;
    padding: 10px;
    box-shadow: none; 
  }

  .details h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .price {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .description {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .detailsList li {
    font-size: 16px;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .buyButton, .testDriveButton {
    width: 100%;
  }

  .tabs {
    margin-top: 30px;
  }

  .tabList {
    flex-direction: column;
    border-bottom: none;
  }

  .tab {
    padding: 10px;
    font-size: 16px;
    text-align: center;
  }
}