#TitleContainer {
background-color: #EEEEEE;

    padding-top: 150px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;

    color: #313D49;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
    list-style: none;
    margin: 30px;
}

#BoxContainer {
    background-color: #EEEEEE;
    padding-top: 70px;
    padding-bottom: 150px;
    padding-left: 50px;
    padding-right: 50px;
}

.CarCard {
    padding: 20px;
    border-radius: 16px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.CarCard:hover {
    transform: scale(1.05);
}

.CarName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 767;
    font-size: 20px;
    line-height: 48px;

    color: #313D49;
    font-variation-settings: 'slnt' 0;
}

.CarImage {
    width: 350px;
    height: 200px;
}

.CarPrice {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 42px;

    color: #818174;

    padding-bottom: 30px;
}

.CarContainer {
    margin: 5px;
}