#TextContainer {
    text-align: center;
    margin-bottom: 40px;

    padding-top: 150px;
    padding-bottom: 15px;
    text-align: center;
}

#TitleContainer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px; 
    line-height: 116px;
    letter-spacing: 1px;

    color: #313D49;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

#SmallText {
    font-family: 'Inter';
    font-size: 18px;
    color: #383b3d;
}

#FilterContainer {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 5px;
}

.filterButton {
    background-color: #6C757D; 
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filterButton:hover {
    background-color: #5A6268; 
}

.active {
    background-color: #343A40;
}


.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
    list-style: none;
    margin: 30px;
    justify-content: center;
    gap: 24px;
}

#BoxContainer {
    background-color: #EEEEEE;
    padding-top: 10px;
    padding-bottom: 150px;
    padding-left: 50px;
    padding-right: 50px;
}

.CarCard {
    padding: 20px;
    border-radius: 16px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.CarCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.CarName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 767;
    font-size: 20px;
    line-height: 48px;

    color: #313D49;
    font-variation-settings: 'slnt' 0;
}

.CarImage {
    width: 250px;
    height: 140px;
    object-fit: contain;
    margin-bottom: 10px;
}

.CarPrice {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 42px;

    color: #818174;

    margin-top: auto; 
    padding-bottom: 10px;
}

.CarContainer {
    margin: 5px;
}