@media (min-width: 768px) {
    .heroSection {
        background: #EEEEEE;
        padding-left: 7%; 
        padding-top: 15%;
        padding-bottom: 9%;
        box-sizing: border-box;
        display: flex; /* Add this line to enable flexbox */
        align-items: center; /* Center items vertically within the heroSection */
        justify-content: space-between;
    }
    .introContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 5%;
        gap: 34px;
        width: 464px;
        height: 398px;
    }
    #introTitle {
        width: 464px;
        height: 194px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 767;
        font-size: 80px;
        line-height: 97px;
        color: #E06A1A;
        font-variation-settings: 'slnt' 0;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    #introText {
        width: 464px;
        height: 170px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        color: #313D49;
        mix-blend-mode: normal;
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    #mainImage {
        width: 620px;
        height: auto;
       margin-right: 5.5%;
    }

    #carsContainer {
        position: relative;
        width: 100%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    #carRow {
        display: flex;
        gap: 20px;
        width: 100%;
        height: auto;
        padding-left: 6%;
        padding-right: 6%;
    }

    #carsText {
        width: 805px;
        height: 68px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 42px;
        color: #F58220;
    }
    .carBox {
        position: relative;
        flex: 1;
        background: rgba(255, 255, 255, 0.57);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    
    .carImage {
        width: 250px;
        height: auto;
        padding-bottom: 8%;
    }

    .carImage1 {
        margin-top: 3%;
        width: 250px;
        height: auto;
        padding-bottom: 8%;
    }
    
    .carName {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 42px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .carButton {
        width: 150px;
        height: auto;
        background: #E06A1A;
        border-radius: 100px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 42px;
        color: #FFFFFF;
    }

    #bookContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 50px;
        gap: 20px;
        isolation: isolate;
    
        position: relative;
        width: 945px;
        margin: 20px auto;
    
    }
    
    #bookTitle1 {
        width: 945px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: inherit;
        text-align: center;
    
        color: #000000;
        font-variation-settings: 'slnt' 0;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        z-index: 0;
    }
    
    #bookButton {
        width: 238px;
        height: 50px;
        background: #E06A1A;
        border-radius: 50px;
    
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        z-index: 1;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: inherit;
        text-align: center;
    
        color: #FFFFFF;
        font-variation-settings: 'slnt' 0;
    
    
        /* Inside auto layout */
        flex: none;
        order: 2;
        flex-grow: 0;
        z-index: 2;
    }
    #reasonsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 20px;
        background-color: #f5f5f5;
        margin: 20px auto;
    }
    
    #reasonRow {
        text-align: center;
        display: flex;
        flex-direction: row;
        /* Change to row to place items side by side */
        justify-content: space-around;
        width: 100%;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    
    .eachReason {
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }
    
    .reasonText {
        width: 100%;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: inherit;
        text-align: center;
        color: #000000;
        font-variation-settings: 'slnt' 0;
        margin-bottom: 20px;
    }
    
    .reasonImg {
        width: 130px;
        height: 130px;
        margin-bottom: 30px;
    }
    
    #reasonTitle {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 35px;
        line-height: inherit;
        text-align: center;
        color: #000000;
        font-variation-settings: 'slnt' 0;
        margin-bottom: 20px;
    }
    
    .mobileIntroTitle {
        display: none;
    }
}

@media (max-width: 767px) {

    .heroSection {
        padding-top: 100px;
        height: auto;
        box-sizing: border-box;
        display: flex; /* Add this line to enable flexbox */
        align-items: center; /* Center items vertically within the heroSection */
        flex-direction: column-reverse;
    }
    .introContainer {
        padding-top: 12px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: #EEEEEE;
        border-radius: 20px;
    }
    
    .mobileIntroTitle {
        width: 100%;
        height: auto;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 767;
        font-size: 34px;
        color: #F58220;
        font-variation-settings: 'slnt' 0;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-bottom: 20px;
    }

    #introTitle {
        display: none;
    }
    #introText {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight:bold;
        font-size: 18px;
        line-height: 34px;
        color: #313D49;
        mix-blend-mode: normal;
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    #mainImage {
        width: 250px;
        height: auto;
        margin-bottom: 10px;
    }

    #carsContainer {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    #carRow {
        display: flex;
        padding-left: 45px;
        padding-right: 45px;
        width: 100%;
        height: auto;
    }

    #carsText {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 767;
        font-size: 24px;
        color: #F58220;
        font-variation-settings: 'slnt' 0;
    }

    .carBox:first-child {
        position: relative;
        flex: 1;
        background: rgba(255, 255, 255, 0.57);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 26px;
    }

     .carBox:not(:first-child){
        display: none;
    }

    .carBox .carImage:first-child{
        width: 65%;
        height: auto;
    }

    
    .carName {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: inherit;
        text-align: center;
        margin-bottom: 17px;
        margin-top: 20px;
    }
    
    .carButton{
        width: 100px;
        height: auto;
        background: #E06A1A;
        border-radius: 100px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 42px;
        color: #FFFFFF;
    }
    
    #bookContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-top: 35px;
        padding-bottom: 20px;
        gap: 20px;
        isolation: isolate;
        position: relative;
        width: 100%px;
    }
    
    #bookTitle1 {
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: inherit;
        text-align: center;
        color: #000000;
        font-variation-settings: 'slnt' 0;
        flex: none;
        order: 0;
        flex-grow: 0;
        z-index: 0;
    }
    
    #bookButton {
        width: 44%;
        height: auto;
        background: #E06A1A;
        border-radius: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: inherit;
        text-align: center;
        color: #FFFFFF;
        font-variation-settings: 'slnt' 0;
        flex: none;
        order: 2;
        flex-grow: 0;
        z-index: 2;
        padding: 7px;
        margin-bottom: 15px;
    }

    #reasonsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #f5f5f5;
    }
    
    #reasonRow {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
    }
    
    
    .eachReason:first-child {
        width: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }

    .eachReason:not(:first-child) {
        display: none;
    }
    
    .reasonText {
        width: 65%;
        /* Make the text fill the width of eachReason */
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 550;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        font-variation-settings: 'slnt' 0;
        margin-top: 10px;
    }
    
    .reasonImg {
        width: 30%;
        max-width: 304px;
        /* Limit the image width */
        height: auto;
        /* Maintain the image aspect ratio */
    }
    
    #reasonTitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 573;
        font-size: 23px;
        line-height: inherit;
        text-align: center;
    
        color: #000000;
        font-variation-settings: 'slnt' 0;
    }
    
}