body {
    padding-top: 20px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px; 
  }
  
  nav a {
    text-decoration: none;
    color: #000; 
    font-weight: bold;
  }
  
  nav a:hover {
    color: #0077B5; 
  }
  