#backgroundImage {
    width: 100%;
}

@media (min-width: 768px) {

    .topPart {
        padding-top: 126px;
        position: relative;
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        background-color: #d6d6d6a0;
    }

    .welcomeContainer p {
        color: #0000009b;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .welcomeContainer {
        padding-top: 60px;
        padding-bottom: 55px;
        padding-left: 100px;
        padding-right: 220px;
        text-align: left;
        width: 950px;
    }

    #welcomeTitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 550;
        font-size: 38px;
        line-height: 58px;
        text-align: left;

        color: #000000;
    }

    #welcomeText {
        padding-top: 40px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 80;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        color: #000000;
    }

    #mainImage {
        width: 815px;
        height: 100%
    }

    .boxContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        background-color: #EEEEEE;
        padding-bottom: 30px;
        padding-top: 100px;
    }

    .hashtagBox {
        width: 50%;
        box-sizing: border-box;
        padding: 30px;
        margin-bottom: 20px;
        background: #FFFFFF;
        border-radius: 50px;
    }

    .hashtagTitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: inherit;
        text-align: left;
        color: #E06A1A;
    }

    .hashtagText {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;

        color: #818174;
    }
}

@media (max-width: 767px) {

    .topPart {
        padding-top: 80px;
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #EEEEEE;
    }

    #mainImage {
        width: 100%;
    }
   

    .welcomeContainer p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 550;
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        color: #0000009b;
    }
    .welcomeContainer {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: white;
        border-radius: 20px;
    }

    #welcomeTitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 550;
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }

    #welcomeText {
        padding-top: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 80;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: #818174;
    }

    .boxContainer {
        padding-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        background-color: #EEEEEE;
        padding-bottom: 30px;
    }

    .hashtagBox {
        width: 80%;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 20px;
        background: #FFFFFF;
        border-radius: 50px;
    }

    .hashtagTitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: inherit;
        text-align: left;
        color: #E06A1A;
    }

    .hashtagText {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #818174;
    }
}